.floating-r-btn
{
    position: absolute;
    right:24px;
    top:20px;
    border-radius: 30px 2px 30% 3px / 4px 10px 3px 30px !important;
    border: 3px solid #000 !important;
}
@media all and (max-width: 480px) { 
    .floating-r-btn
    {
        font-size: 13px !important;
    }
}