.pie-chart
{
    height:30vh !important;
}
.monthly-chat
{
    height:40vh !important;
    position: relative;
    display: block;
    margin:20px 0px
}
.stats-container
{
    display: flex;
    flex-direction: column;
    margin:10px 0px ;
    align-items: center;
    justify-content: center;
}
.stats-container h3
{
    opacity: 0.4;
    color:#AEAEAE;
    font-weight: bold;
    margin:20px auto;
    font-size: 28px;
}